body{
background-color: black;
}

a{
    text-decoration: none;
}

*{
  font-family: 'Poppins', sans-serif;
}

.flip-active{
    transform: rotateY(180deg);
    opacity: 0!important;
    z-index:-2;
}

.form-signup, .form-login{
    gap: 24px;
    width: 30%;
    height: 500px;
    background-color:rgba(44, 44, 44, 0.5);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    left: 35%;
    top: 250px;
    border-radius: 20px;
    transition: 0.7s;
    opacity: 1;
    padding-bottom: 32px;
}

.form-signup input:focus, .form-login input:focus{
    outline: none;
}

.form-signup input, .form-login input{
    margin: 0 auto;
    margin-top:10px ;
    width: 277px;
    height: 26px;
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #d9d9d9;
    color: #ffffff;
}

.btn-form{
    width: 130px!important;
    height: 33px!important;
    background-color: #08a8f4!important;
    font-size: 14px!important;
    border: 0!important;
    color: #ffffff;
    margin: 0 auto;
    border-radius:16px ;
}

.flip-text{
    color: #d9d9d9;
    position: absolute;
    top: 800px;
    left: 41%;
}

.flip-button{
    height: 40px;
    background-color: #08a8f4;
    border: 0;
    border-radius: 16px;
    color: #ffffff;
    width: 246px;
    position: absolute;
    top: 850px;
    left: 44%;
}

.flip-button:hover, .btn-form:hover{
    cursor: pointer;
}

.form-login>h1, .form-signup>h1{
    color:#ffffff ;
    font-size: 34px;
}

.svg-1 {
    position: absolute;
    z-index: -9999;
    width: 200px!important;
    height: 300px;
    background: linear-gradient(261.63deg, #7000FF 4.87%, #06FFF0 87.02%);
    filter: blur(73.0533px);
    transform: rotate(173.72deg);
    animation: moveAnimation 10s infinite alternate;
  }
  
  @keyframes moveAnimation {
    0% {
      transform: translateX(0px) translateY(400px);
    }
    50% {
      transform: translateX(300px) translateY(200px);
    }
    100% {
      transform: translateX(1200px) translateY(0px);
    }
  }
  
  .svg-2{
    width: 360.64px;
    height: 529.23px;
    background: linear-gradient(180deg, #fb03f734 0%, #AA9CFF 100%);
    filter: blur(78.7366px);
    transform: rotate(-163.98deg);
    position: relative;
    animation: moveAnimation2 15s infinite alternate;
  }
  
  @keyframes moveAnimation2 {
    0% {
      transform: translateX(0px) translateY(600px);
    }
    50% {
      transform: translateX(0px) translateY(0px);
    }
    100% {
      transform: translateX(1100px) translateY(300px);
    }
  }
  
  .svg-3{
    width: 360.64px;
    height: 529.23px;
    background: linear-gradient(180deg, #fb03f734 0%, #AA9CFF 100%);
    filter: blur(78.7366px);
    transform: rotate(-163.98deg);
    animation: moveAnimation3 15s infinite alternate;
    position: relative;
    left: 1100px;
  }
  
  @keyframes moveAnimation3 {
    0% {
      transform: translateX(0px) translateY(-600px);
    }
    50% {
      transform: translateX(0px) translateY(0px);
    }
    100% {
      transform: translateX(-1100px) translateY(-900px);
    }
  }
  
  .svg-4{
    width: 360.64px;
    height: 529.23px;
    background: linear-gradient(180deg, #fb03f734 0%, #AA9CFF 100%);
    filter: blur(78.7366px);
    transform: rotate(-163.98deg);
    animation: moveAnimation5 15s infinite alternate;
    position: relative;
    left: 1000px;
    bottom: 1200px;
  }
  
  @keyframes moveAnimation5 {
    0% {
      transform: translateX(-800px) translateY(100px);
    }
    50% {
      transform: translateX(0px) translateY(0px);
    }
    100% {
      transform: translateX(2px) translateY(-20px);
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f100;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
  }
  
  .svg-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  