*{
font-family: Poppins;
}

.container-menu-right{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
}

.container-friends, .container-pub, .my-community{
 width: 300px;   
 background-color:rgba(44, 44, 44, 0.5);
 border-top-left-radius: 15px;
 border-bottom-left-radius: 15px;
 margin-top: 10px;
 padding: 10px;
 z-index: -5;
}

.container-menu-left{
    position: fixed!important;
    left: 0;
    width: 300px!important;
}

.info-friends{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-friends{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    margin: 0 auto;
}

.info-friends img{
    width: 26px;
    height: 6px;
}

.info-friends h1{
   font-size: 24px;
}

.friends{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #08a8f4;
    margin-top: 5px;
}

.text-about{
    text-align: center;
    color: rgba(255, 255, 255, 0.3)
}

.container-pub img{
    width: 252px;
    height: 162px;
    margin-left: 20px;
}

.close img{
    width: 20px;
    height: 20px;
}

.close{
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    justify-content: space-around;
}