form{
    background-color: rgba(44, 44, 44, 0.3);
    border-radius: 16px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    width: 400px;
    margin: 0 auto;
    margin-top: 10px!important;
}

input{
    color: white!important;
}

label{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.post{
    width: 250px;
    margin: 0 auto;
    border: 0;
    border-radius: 15px;
    margin-top: 10px ;
}

.post-title{
    height: 30px;
    background-color: rgba(217, 217, 217, 0.1);
}

.btn-post{
    width: 70px;
    color: white;
    margin: 0 auto;
    background-color: #08A8F4;
    padding: 6px;
    border-radius: 15px;
    border: 0;
    margin-top: 20px;
}

.post-text{
    height: 100px;
    color: white!important;
    background-color: rgba(217, 217, 217, 0.1);
}