
.carousel-text-color{
  color: var(--primary-color);
  width: 500px;
  font-weight: 500;
}

.carousel-text{
  align-items: end;
  display: flex;
  flex-direction: column;
  margin-top: 800px;
  margin-right: 10%;
}


.carousel-text-no-color{  
  width: 300px;
  color: white;
  font-weight: 500;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  position: relative;

}

.carousel-inner {
  display: flex;
  transition: transform 0.5s;
}

.carousel-inner img {
  width: 650px;
  height: 100%;
  margin-right: 20px;
  object-fit: cover;
}

.prev-button,
.next-button {
  margin-top: 10px;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}

.arrowleft{
  position: absolute;
  left: 86px;
  width: 82px;
  height: 82px;
  border: 0;
  background-color: var(--secondary-color);
  border-radius: 50%;
  top: 340px;
}

.arrowright{
  position: absolute;
  right: 86px;
  width: 82px;
  height: 82px;
  border: 0;
  background-color: var(--secondary-color);
  border-radius: 50%;
  top: 340px;
}

@media screen and (max-width: 700px) {
    .arrowright {
        right: 10%;
        width: 35px;
        height: 35px;
    }
    .arrowleft {
        left: 10%;
        width: 35px;
        height: 35px;
    }
    .arrowright img, .arrowleft img {
        width: 10px;
        height: 10px;
    }
}

.title-carousel{
  font-weight: 400;
  font-family: var(--accent-font);
  position: absolute;
  top: 15%;
  left: 36%;
  color: white;
}

@media screen and (max-width: 1000px) {
    .title-carousel {
        top: 35%;
    }
}

.btn-learn-more{
  position: absolute;
  z-index: 999;
  font-size: 1rem;
  color: white;
  top: 80%;
  left: 45%;
  width: 10%;
  margin: 0 auto;
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  height: 5%;
  margin-top: 50px;
  font-family: var(--primary-font);
  font-weight: 500;
  margin-bottom: 5%;
  display: flex;
  align-self: center;
  justify-content: center;
}


.container-all-carousel{
  position: relative;
}

@media screen and (max-width:1000px) {
  .carousel-text-color  {
    font-size: 3vw;
  }
  .carousel-text-no-color {
    font-size: 2vw;
  }
}

.btn-learn-more h4 {
    padding: 0;
    margin: auto;
}