.content-form{
    margin-left: 60px;
    margin-right: 60px;
}

.title-form{
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 500;
}

.all-form-add-appart,.form-right-top{
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.form-right-top{
    display: flex;
}

.label-field-add-appart{
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 500;
}

.input-field-add-appart{
    border: 1px solid var(--primary-color);
    width: 300px;
    height: 40px;
}

.form-right-bottom{
    margin-top: 10px;
}

.input-field-add-appart-d{
    border: 1px solid var(--primary-color);
    width: 700px;
    height: 128px;
    margin-top: 8px;
}

.field-form-add-appart{
    margin-top: 10px;
}

.custom-file-input {
    background: #1C232C;
    border: 1px solid #DBA473;
    width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
  }

  .container-btn-add-appart{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .btn-add-appart{
    background: #1C232C;
    border: 2px solid #DBA473;
    align-items: center;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'MADE SAONARA';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #E3E3E3;
    cursor: pointer;
  }

  .location-add-appart-h2{
    color: #000;
    font-size: 32px;
    font-family: MADE SAONARA;
  }

  