.content-appart-select{
    padding-bottom: 40px;
}

.appart-select{
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-right: 90px;
}

.carousel-appart-select, .info-appart-select{
    width: 50%;
}

.title-appart-select{
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.neighborhood-appart-select{
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--primary-font);
}

.price-text{
    font-size: 1.25rem;
}

.price-appart-select{
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.container-img-reserv-appart-select{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 60px;
}

.reserv-appart-select{
    width: 440px;
    height: 64px;
    display: flex;
    flex-direction: row;
}

.btn-reserv-appart-select{
    width: 380px;
    background-color: #1C232C;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--primary-font);
    border: 0;
    border-left: 5px solid var(--primary-color);
    color: white;
    text-align: left;
}

.img-reserv-appart-select{
    height: 24px;
    width: 24px;
}

.list-feature-appart-select{
    width: 369px;
    height: 136px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list-feature-appart-select li img{
    width: 11px;
    height: 8px;
    margin-right: 10px;
}

.list-feature-appart-select li{
    font-size: 1rem;
    font-family: var(--primary-font);
    color: #a8a8a8;
    font-weight: 400;
    margin-right: 60px;
}

.description-appart-select{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    color: #1C232C;
}

.carousel-appart-select{
    position: relative;
}

.carousel-appart-select-arrowleft, .carousel-appart-select-arrowright{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
}

.carousel-appart-select-arrowleft:hover, .carousel-appart-select-arrowright:hover{
cursor: pointer;
}

.carousel-appart-select-arrowleft{
    z-index: 9999;
    left: 40px;
}
.carousel-appart-select-arrowright{
    z-index: 9999;
    right: 40px;
}

.img-carousel-appart-select{
    width: 100%;
    height: 504px;
    object-fit: cover;
    position: absolute;
}

.btn-content-appart-select{
    width: 340px;
    height: 64px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: white;
}

.btn-content-appart-select:hover{
cursor: pointer;
}

.container-btn-content-appart-select{
    width: 340px;
    height: 64px;
    margin: 0 auto;
    margin-top: 60px;
}