footer{
    padding-top: 5%;
    background-color: var(--secondary-color);
}

.info-footer-img img{
    width: 80px;
    height: 80px;
}

.info-footer-img{
    width: 80px;
    margin: 0 auto;
}

.info-footer h2{
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
}

.info-footer p{
    color: white;
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    width: 212px;
    margin: 0 auto;
    text-align: center;
}

.container-social{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 20%;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 126px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.container-social img{
    width: 40%;
    height: 40%;
}

.mention{
    display: flex;
    justify-content: space-between;
}

.mention-doc p{
    color: rgba(107, 107, 107, 1);
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 500;
    margin-left: 90px;
    margin-top: -60px;
}

.mention-doc p span{
    color: white;
}

.websiteBy p{
    text-align: end;
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 500;
    color: rgba(107, 107, 107, 1);
    margin-right: 93px;
    margin-top: -60px;
}

.websiteBy p span{
    color: white;
}

.choice-lang{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin-left: 90px;
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.choice-lang img{
margin-left: 10px;
}