.content-form{
    margin-left: 60px;
    margin-right: 60px;
}

.element-list-overview-add{
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 16px;
}

.info-element-list-overview-add{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.index-element-list-overview-add{
    width: 60px;
    height: 58px;
    background: #59413F;
    border: 1px solid #1C232C;
}

.index-element-list-overview-add p{
    font-family: 'MADE SAONARA';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.info-element-list-overview-add{
    width: 100%;
    height: 60px;
    background: #1C232C;
}

.title-element-list-overview-add{
    font-family: 'MADE SAONARA';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px; 
    text-align: center;
    color: #DBA473;
    margin-left: 20px;   
}



.all-form-add-appart,.form-right-top{
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.form-right-top{
    display: flex;
}

.label-field-add-appart{
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 500;
}

.input-field-add-appart{
    border: 1px solid var(--primary-color);
    width: 300px;
    height: 40px;
}

.form-right-bottom{
    margin-top: 10px;
}

.input-field-add-appart-d{
    border: 1px solid var(--primary-color);
    width: 700px;
    height: 128px;
    margin-top: 8px;
}

.field-form-add-appart{
    margin-top: 10px;
}

.custom-file-input {
    background: #1C232C;
    border: 1px solid #DBA473;
    width: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
  }

  .container-btn-add-appart{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 90px;
  }

  .btn-add-appart{
    background: #1C232C;
    border: 2px solid #DBA473;
    align-items: center;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: 'MADE SAONARA';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #E3E3E3;
    cursor: pointer;
  }

  .users{
    display: flex;
    justify-content: space-between;
    background-color: #59413F;
    width: 300px;
    height: 48px;
    align-items: center;
    margin-top: 15px;
  }

  .index-user{
    color: #FFFFFF;
    padding: 2px;
    padding: 2px;
    height: 40px;
    width: 40px;
    background-color: #1C232C;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-user{
    color: white;
    font-size: 1rem;
    font-family: var(--primary-font);
  }

  .remove-btn{
    color: #FFFFFF;
    font-size: 1rem;
    font-family: var(--primary-font);
    margin-right: 10px;
  }

  .title-list-user{
    color: #1C232C;
    font-size: 2rem;
    font-family: var(--secondary-font);
  }