.register-container-g {
  width: 100%;
  display: flex;
  margin-bottom: 10%;
}

.register-left-part{
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  padding: 0 auto;
  background-image: url('../CSS/Assets/backgroundAnnouncement.png');
  width: 50%;
}

  .btn-signup{
    font-size: 1rem;
    font-family: var(--primary-font);
    color: black;
    margin-top: 80px;
  }

 .register-right-part {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

.register-left-title{
  font-size: 3.5vw;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.register-left-logo,.register-right-logo{
  width: 80px;
  height: 80px;
  margin-top: 10%;
}

.register-left-text{
  font-family: var(--primary-font);
  font-size: 1.25vw;
  color: var(--secondary-color);
  margin-top: 3%;
}

.register-left-form{
  margin: 5%;
  width: 30%;
}

.container-input-register-left{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.container-input-register-left{
  font-family: var(--primary-font);
  font-size: 1.25vw;
  color: var(--secondary-color);
  margin-bottom: 3%;
}

.register-left-input{
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
}

.register-left-div-btn{
    width: 100%;
    display: flex;
    justify-content: center;
  height: 100%;
}

.register-left-btn{
  height: 100%;
  color: white;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 2.5vw;
  font-family: var(--primary-font);
  margin-top: 10%;
  border-radius: 50px;
}



.register-right-part{
  background-image: url('../CSS/Assets/background-register-right.png');
  background-size: cover;
  background-position: center;
}

.register-right-small-part{
  width: 100%;
  height: 100vh;
  background: linear-gradient(145.5deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(109px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-right-title{
  color: white;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 5.5vw;
  margin-bottom: 32px;
  opacity: 1 !important;
}

.register-right-text{
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 3vw;
  color: var(--secondary-font);
  opacity: 1 !important;
}

@media screen and (max-width:900px) {
  .register-right-part {
      display: none;
  }
  .register-left-logo {
      margin-top: 5%;
  }
}