
.container-choice{
    display: flex;
    position: relative;
    margin-top: 30%;
    align-items: center;
    justify-content: space-around;
    height: 1000px;
    z-index: 10;
    flex-wrap: wrap;
}

.container-choice-img{
    position: absolute;
    width: 100%;
    z-index: -5;
    height: 100%;
    object-fit: cover;
    height: 100%;
}

.container-choice-title{
    position: absolute;
    /* top: 300px; */ 
    color: var(--primary-color);
    font-family: var(--accent-font);
    font-weight: 400;
}

.choice{
    display: flex;
    flex-direction: column;
    z-index: -4;
    width: 30%;
    height: 45%;
    background-color: var(--secondary-color);
    position : relative;
}

.choice-title{
    color: var(--primary-color);
    font-weight: 400px;
    margin: 0 auto;
}

.choice-text{
    position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -0%);
  color: var(--primary-color);
}

.choice p {
    font-size : 2vw;
}

